@import url(https://fonts.googleapis.com/css?family=Roboto:300);
body {
  margin: 0 !important;
}

.map-form {
  background: #444;
  padding: 10px;  
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.right_bar {
  background-color: red;
  width: 28%;
  margin-left: 72%;
}
.header {
  width: 70%;
  text-align: left;
  font-size: 25px;
  margin-left: 10px;
}

.tabla{
  font-size: 15px;
  font-family: Roboto, sans-serif;
}

body {
  background: #373B44; 
  background: linear-gradient(to left, #373B44, #4286f4);
  font-family: "Roboto", sans-serif;
}

.footer {
  text-align: center;
  margin-top: 45px;
}
.footer a {
  color: #444;
}
.footer i {
  font-size: 36px;
}

#data {
  text-align: left;
  vertical-align: top;
  font-weight: lighter;
}

#long_text {
  font-size: 14px;
}

#short_text {
  font-size: 10px;
}
#map {
  height: 440px; 
  border: 1px solid #AAA;
}

header{
  font-family: "Roboto", sans-serif;
  background: #353637;
  color: #ffffff;
  padding-top: 30px;
  min-height: 70px;
}
header .highlight, header .current a{
  font-family: "Roboto", sans-serif;
  color: #4286f4;
  font-weight: bold;
}
header #branding{
  float: left;
  margin-left: 10%;
}

header #branding h1{
  margin: 0;
}

#data_table {
  text-align: left;
  width: 98.8%;
  border-radius: 4px;
  border: 2px solid #444;
  background-color: #ddd;
  margin-left: 9px;
  margin-bottom: 10px;
}