@import url(https://fonts.googleapis.com/css?family=Roboto:300);
body {
  margin: 0 !important;
}
.map-form {
  background: #444;
  padding: 10px;  
  border-radius: 5px;
  margin-top: 10px;
}
.header {
  width: 70%;
  text-align: left;
  font-size: 25px;
  margin-left: 10px;
}
body {
  background: linear-gradient(to left, #373B44, #4286f4);
  font-family: "Roboto", sans-serif;
}

.footer {
  text-align: center; 
  margin-top: 45px;
}
.footer a {
  color: #444;
}
.footer i {
  font-size: 36px;
}

#long_text {
  font-size: 14px;
}

#div_map {
  width: 99.4%;
  margin-left: 5px;
}

#form_th {
  width: 90%; 
  text-align: left;
}

#map {
  height: 440px; 
  border: 1px solid #AAA;
}

#status_table {
  width: 98.8%;
  border-radius: 4px;
  border: 2px solid #444;
  background-color: #ddd;
  margin-left: 9px;
  text-align: left;
}

header{
  font-family: "Roboto", sans-serif;
  background: #353637;
  color: #ffffff;
  padding-top: 30px;
  min-height: 70px;
}
header .highlight, header .current a{
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #4286f4;
}
header #branding{
  float: left;
  margin-left: 10%;
}

header #branding h1{
  margin: 0;
}

