@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body {
  margin: 0!important;
}
.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #444;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  padding-top: 20px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 5px;
}

.form .message{
  margin: 15px 0 0;
  color: aliceblue;
}

.form .message a{
  color: #4CAF50;
  text-decoration: none;
}

.form .register-form{
  display: none;
}

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  margin-top: 10px;
  border-radius: 5px;
}
.form select{
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 14px;
  box-sizing: border-box;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 24px;
  border-radius: 5px;
}

.form label {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4286f4;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border-radius: 5px;
}
.form button:hover,.form button:active,.form button:focus {
  background: #373B44;
}

.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #4286f4;
}
body {
  background: #373B44; 
  background: linear-gradient(to left, #373B44, #4286f4);
  font-family: "Roboto", sans-serif;
}

.footer {
  text-align: center;
  font-size: 36px;
}
.footer a {
  color: #444;
}
.footer i {
  font-size: 36px;
}

#welcome {
  color: #ffffff;
}

header{
  font-family: "Roboto", sans-serif;
  background: #353637;
  color: #ffffff;
  padding-top: 30px;
  min-height: 70px;

}
header .highlight, header .current a{
  font-family: "Roboto", sans-serif;
  color: #4286f4;
  font-weight: bold;
}
header #branding{
  float: left;
  margin-left: -130%;
}

header #branding h1{
  margin: 0;
}