@import url(https://fonts.googleapis.com/css?family=Roboto:300);
body {
	font-family: "Roboto", sans-serif;
	padding: 0;
	margin: 0;
	background-color: #f4f4f4; 
}

.container{
	width: 80%;
	margin: auto;
	overflow: hidden;
}

ul{
	margin: 0;
	padding: 0;
}

/* Header */

header{
	font-family: "Roboto", sans-serif;
	background: #353637;
	color: #ffffff;
	padding-top: 30px;
	min-height: 70px;
	border-bottom: #4286f4 3px solid;
}

header a{
	font-family: "Roboto", sans-serif;
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}

header li{
	font-family: "Roboto", sans-serif;
	float: left;
	display: inline;
	padding: 0 20px 0 20px;
}

header #branding{
	float: left;
}

header #branding h1{
	margin: 0;
}

header nav{
	float: right;
	margin-top: 10px;
}

header .highlight, header .current a{
	font-family: "Roboto", sans-serif;
	color: #4286f4;
	font-weight: bold;
}

header a:hover{
	color: #cccccc;
}

/* ShowCase */

#showcase{
	font-family: "Roboto", sans-serif;
	min-height: 400px;
	background: url('../images/imagen-grua-1.jpg') no-repeat center;
	background-size: cover;
	text-align: center;
	color: #4286f4;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#showcase h1{
	font-family: "Roboto", sans-serif;
	margin-top: 170px;
	font-size: 55px;
	margin-bottom: 10px;
}

#showcase p{
	margin-top: 200px;
	font-size: 20px;
}

/* Newsletter */

#newsletter {
	padding: 15px;
	color: #ffffff;
	background: #353637;
}

#newsletter h1{
	float: left;
}

#newsletter form{
	float: right;
	margin-top: 15px;
}

.button_1{
	font-family: "Roboto", sans-serif;
	height: 38px;
	background: #cccccc;
	border: 0;
	border-radius: 5px;
	cursor: pointer;
	color: #353637;
	text-transform: uppercase;
}

.button_2{
	font-family: "Roboto", sans-serif;
	height: 38px;
	background: #cccccc;
	border: 0;
	border-radius: 5px;
	cursor: pointer;
	color: #353637;
	text-transform: uppercase;
	font-weight: bold;
	width: 110px;
	margin-top: -10px;
}
.button_1 a{
	text-decoration: none;
	color:black;
	font-weight: bold;
	padding-left: 30px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 30px;
}

/* boxes */

#boxes{
	margin-top: 20px;
}

#boxes .box{
	float: left;
	text-align: center;
	width: 30%;
	padding: 10px;
}

#boxes a{
	color: #4286f4;
}

#boxes a:hover{
	color: #cccccc;
	font-weight: bold;
}

footer{
	padding: 20px;
	margin-top: 20px;
	color: #ffffff;
	background: linear-gradient(to left, #373B44, #4286f4);
	text-align: center;
}

@media (max-width: 768px){
	header #branding,
	header nav,
	header nav li,
	#newsletter h1,
	#newsletter form,
	#boxes .box{
		float: none;
		text-align: center;
		width: 100%;
	}
}