@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.header {
  width: 70%;
  text-align: left;
  font-size: 25px;
  margin-left: 10px;
}

body {
  background: #373B44; 
  background: linear-gradient(to left, #373B44, #4286f4);
  font-family: "Roboto", sans-serif;
  margin: 0px !important;
}

.button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  background: #444;
  width: 10%;
  border: 0;
  padding: 10px;
  color: #FFFFFF;
  font-size: 13px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 15px;
  margin-left: 10px;
}

.button:hover{
  background: #005f5f;
}

.input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 25%;
  border: 0;
  margin: 0 0 15px;
  padding: 8px;
  box-sizing: border-box;
  font-size: 14px;
  margin-top: 10px;
  border-radius: 5px;
  margin-left: 10px;
}

.table {
  border: 2px solid #444;
  background-color: #ddd;
  border-radius: 4px;
  width: 98.5%;
  text-align: left;  
  margin-left: 10px;
}

.footer {
  text-align: center;
  margin-top: 45px;
}
.footer a {
  color: #444;
}
.footer i {
  font-size: 36px;
}

#long_text {
  font-size: 14px;

}

#short_text {
  font-weight: lighter;
  margin-left: 10px;
}

header{
  font-family: "Roboto", sans-serif;
  background: #353637;
  color: #ffffff;
  padding-top: 30px;
  min-height: 70px;

}
header .highlight, header .current a{
  font-family: "Roboto", sans-serif;
  color: #4286f4;
  font-weight: bold;
}
header #branding{
  float: left;
  margin-left: 9.9%;
}

header #branding h1{
  margin: 0;
}
